body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url('https://cdn.wallpapersafari.com/31/50/dNQTbX.jpg');
    background-size: cover ;
}

.login{
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
}

.login h1{
    float: left;
    font-size: 30px;
    border-bottom: 3px solid rgb(148, 204, 204);
    margin-bottom: 50px;
    padding: 13px 0;
}

.textbox{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid rgb(148, 204, 204);
}

.textbox i{
    width: 30px;
    float: left;
    text-align: center;
}

.textbox input{
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 18px;
    width: 80%;
    float: left;
    margin: 0 10px;
}

::placeholder{
    color: rgb(197, 188, 188);
}

input#submit{
    width: 500px;
    padding: 10px;
    font-size: 18px;
    color: white;
    font-family: sans-serif;
    border-color: rgb(148, 204, 204);
    border-radius: 3px;
    background: transparent;
}

h2{
    font-size: 16px;
    font-family: sans-serif;
    letter-spacing: 1px;
}

h2 a{
    color: rgb(148, 204, 204);
}